/* *-*- css -*-* */

body {
    margin:0px;
    width:100%;
}
@shooterWidth: 20vw;
#rewind, #forward {
    font-size:200%;
}
#forward {
    /*visibility:hidden;*/
}
#well {
    margin-top: 4em;
    height:100%;
}
body, html {
    height:100%;
}
#rightPane {
    box-sizing:border-box;
    width:100%;
    height:100%;
    padding-left:@shooterWidth;
    /*background: -webkit-gradient(linear, 50% 50%, 100% 100%, from(#404040), to(#202020)); */
    text-align:center;
    z-index: 1;
    overflow:scroll;
}
#shooterTabs {
    display:inline-block;
    background:white;
    width:100%;
}
#shooter {
    width: @shooterWidth;
    margin:0px;
    height:100%;
    overflow-y:scroll;
    display:inline-block;
    position:absolute;
    z-index: 2;
}
#shooterTape {
    text-align:center;
    background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#70dbdb), to(#000000));
    display:inline-block;
}
#shooterTabs .tab {
    width:25%;
    height:4em;
}
#shooterTabs .tab.groundable {
    background: rosybrown;
}

#toolbox {
    width:100%;
}
#login {
    float:right;
}


#well .termbox {
    width:85%;
    height:100%;
}
#well .termbox>div {
    max-height:85%;
}

#shooter .termbox {
    background-color:white;
    margin:@shooterWidth * .005;
    padding:@shooterWidth * .005;
    border:2px solid black;
    border-radius:1em;
    width: @shooterWidth * .8;
    position:relative;
    transition: max-height 1s ease-in-out;
    overflow-y:hidden;
    overflow-x:visible;
}

.termbox .termbox {
    /* we stick one inside another for 1-hyp inferences, i.e. ax-gen*/
    position:absolute;
    left:0;
}

.freemap {
    border:1px solid black;
}
.freemap span {
    font-size:20%;
}

/* termbox nodes */
@nodeSize: 3vw;  /* XXX sync with treeMaker.js */
@radius: @nodeSize * (3/8);
.termbox {
    display:inline-block;
}
.termbox span, .termbox .select {
    border-radius:100%;
}
.termbox span {
    border: 1px solid gray;
}

.termbox .undo {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
    border-radius:1em 0 0 0;
    display: none;
}

/* Scaling up with width and back down with transform has the effect (at least in chrome and safari) of shrinking the select-triangle.*/
.termbox .select {
    display:inline-block;
    border: 0;
    font-size: 100%;
    top:100% * (@nodeSize - (@radius *2)) / (2* @nodeSize);
    left:100% * (@nodeSize - (@radius *2)) / (2* @nodeSize);
    position:absolute;
    width: 100% * (@radius * 2) / @nodeSize;
    height: 100% * (@radius * 2) / @nodeSize;
    color:white;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.termbox .placeholder {
    display:none;
}
.termbox div:hover {
 background: rgba(0,1,0,0.2);
}
.termbox div, .termbox span {
    display:inline-block;
    padding:0;
    margin:0;
	text-align:center;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position: absolute;
}


.termbox > div, .termbox > div > div {
    position:relative;
}


.termbox .turnstile, .termbox .apply1, .termbox .apply2 {
    border: 2px solid black;
    margin-right: -2px;
    margin-top:-2px;
    border-radius: 1em;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    display: none;
}

.termbox .turnstile {
    right: 0;
    top: 0;
    width: 3em;
    height: 3em;
    padding: 1em;
    background: rosybrown;
}

.apply1, .apply2 {
    background: bisque;
    top: 0;
    color:black;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
}
.apply2 {
    left: 80%;
}
.apply1 {
    right:80%;
}

#well .selected  {
    border: 1px solid blue;
}

.termbox .termSpan {
    z-index: 100;
}
.treeLeaf {
    color: white;
}
.termbox .linkGroup {
    position:absolute;
}
.termbox .link {
    border-left: 1px solid black;
    transform-origin: 100% 100%;
    z-index: -1;
}
.termbox .nodeGroup span {
    background-color: white;
}
#shooter .treeLeaf.treeText0 .select { background-color: #9370db; }
#shooter .treeLeaf.treeText1 .select { background-color: #70db93; }
#shooter .treeLeaf.treeText2 .select { background-color: #f13e44; }
#shooter .treeLeaf.treeText3 .select { background-color: #cc4a14; }
#shooter .treeLeaf.treeText4 .select { background-color: #99583d; }
#shooter .treeLeaf.treeText5 .select { background-color: #3d983d; }
#shooter .treeLeaf.treeText6 .select { background-color: #3d9898; }
#shooter .treeLeaf.treeText7 .select { background-color: #3d3d98; }

/* http://www.colourlovers.com/palette/34448/2_Kool_for_Skool */
#well .treeLeaf.treeText0 .select { background-color: #020304; }
#well .treeLeaf.treeText1 .select { background-color: #541f14; }
#well .treeLeaf.treeText2 .select { background-color: #938172; }
#well .treeLeaf.treeText3 .select { background-color: #cc9e61; }
#well .treeLeaf.treeText4 .select { background-color: #626266; }
/* http://www.colourlovers.com/palette/86324/Clint */
#well .treeLeaf.treeText5 .select { background-color: #ddd4bc; }
#well .treeLeaf.treeText6 .select { background-color: #c4704b; }
#well .treeLeaf.treeText7 .select { background-color: #702426; }
#well .treeLeaf.treeText8 .select { background-color: #4c2923; }
#well .treeLeaf.treeText9 .select { background-color: #bb9c88; }

