/* *-*- css -*-* */

body {
    margin:0px;
    width:100%;
}
#restart, #rewind, #forward, #ground {
    font-size:200%;
    transition: all 1s cubic-bezier(.91,.8,.54,1.39);
    box-sizing: border-box;
    padding: .5em;
}

#ground.enabled {
    border:.3em solid red;
}
#forward {
    /*visibility:hidden;*/
}
#well {
    margin-top: 4em;
    height:100%;
}
body, html {
    height:100%;
}
#workspace {
    width:60%;
    height:100%;
    text-align:center;
    overflow:scroll;
    position:absolute;
    left:20%;
}
#shooterTabs {
    display:inline-block;
    background:white;
    width:100%;
}
#shooter {
    width: 20%;
    margin:0px;
    height:100%;
    overflow-y:scroll;
    display:inline-block;
    position:absolute;
    z-index: 2;
}
#chat {
    width: 20%;
    height:100%;
    overflow:scroll;
    position:absolute;
    left:80%;
}
#chat #chatPane {
    box-sizing:border-box;
    height:100%;
    padding-bottom:2em;
}
#chat #chatInput {
    position:absolute;
    bottom:0;
    height:2em;
    width:94%;
    left:3%;
}
#shooterTape {
    text-align:center;
    background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#70dbdb), to(#000000));
    display:inline-block;
}
#shooterTabs .tab {
    width:25%;
    height:4em;
}
#shooterTabs .tab.groundable {
    background: rosybrown;
}

#toolbox {
    width:100%;
}
#toolbox button, #toolbox #ground {
    display:inline-block;
}
#login {
    float:right;
}


#well .termbox {
    width:85%;
    height:100%;
}
#well .termbox>div {
    max-height:85%;
}

#shooter .termbox {
    background-color:white;
    margin: .5%;
    padding:.5%;
    border:2px solid black;
    border-radius:1em;
    width: 80%;
    position:relative;
    transition: max-height 1s ease-in-out;
    overflow:hidden;
    /** XXX Bizarrely, this seems to make transitions smoother on android chrome by triggering GPU acceleration.***/
    transform:translate3d(0,0,0);
}

.termbox .termbox {
    /* we stick one inside another for 1-hyp inferences, i.e. ax-gen*/
    position:absolute;
    left:0;
}

.freemap {
    border:1px solid black;
}
.freemap span {
    font-size:20%;
}

/* termbox nodes */
@nodeSize: 3vw;  /* XXX sync with treeMaker.js */
@radius: @nodeSize * (3/8);
.termbox {
    display:inline-block;
}
.termbox span, .termbox .select {
    border-radius:100%;
}
.termbox span {
    border: 1px solid gray;
}

.termbox .undo {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
    border-radius:1em 0 0 0;
    display: none;
}

/* Scaling up with width and back down with transform has the effect (at least in chrome and safari) of shrinking the select-triangle.*/
.termbox .select {
    display:inline-block;
    border: 0;
    top:100% * (@nodeSize - (@radius *2)) / (2* @nodeSize);
    left:100% * (@nodeSize - (@radius *2)) / (2* @nodeSize);
    position:absolute;
    width: 100% * (@radius * 2) / @nodeSize;
    height: 100% * (@radius * 2) / @nodeSize;
    color:white;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.termbox .placeholder {
    display:none;
}
#shooter .termbox div:hover, .termbox div.fakeHover,  #well .termbox div:hover {
    background: rgba(0,1,0,0.2);
}


.termbox div:hover > .link {
    box-shadow: 0px 0px .5em .25em rgba(0,0,255,1);
}
.termbox div, .termbox span {
    display:inline-block;
    padding:0;
    margin:0;
	text-align:center;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position: absolute;
}
.termbox *  {
    transition: all 1s cubic-bezier(.91,.8,.54,1.39),
    background 1ms,
    box-shadow 1ms;  /** TODO: not working? */
}

.termbox > div, .termbox > div > div {
    position:relative;
}


.termbox .turnstile, .termbox .apply1, .termbox .apply2 {
    border: 2px solid black;
    box-sizing: border-box;
    position: absolute;
    width: 1.5em;
    border-radius: 1em;
    height: 1.5em;
}

@turnStileSize: 4vw;
.termbox .turnstile {
    right: 0;
    top: 0;
    background-color: rosybrown;
    display:none;
}

.termbox .turnstile.matched {
    display:inline-block;
}

.termbox .applyButton {
    background: bisque;
    display: none;
    z-index: 2000;
    top: 0;
}
.termbox .applyButton.matched {
    background: blue;
}
.apply2 {
    right: -5px;
}
.apply1 {
    left:-5px;
}

#well .selected  {
    border: 5px solid blue;
}

/** termSpan is for actual terms; termRole is for terms or term-specified vars. */
.termbox .termSpan, .termbox .select {
    z-index: 101;
}
.treeLeaf {
    color: white;
}
.termbox .linkGroup {
    position:absolute;
}
.termbox .link {
    border-left: 1px solid black;
    transform-origin: 100% 100%;
    z-index: -1;
}
.termbox span {
    background-color: white;
}

.termbox>.cmd_stmt {
    background-color: lightgoldenrodyellow;
}
.termbox>.cmd_defthm {
    background-color: palegreen;
}

#shooter .var.name0 .select { background-color: #9370db; }
#shooter .var.name1 .select { background-color: #70db93; }
#shooter .var.name2 .select { background-color: #f13e44; }
#shooter .var.name3 .select { background-color: #cc4a14; }
#shooter .var.name4 .select { background-color: #99583d; }
#shooter .var.name5 .select { background-color: #3d983d; }
#shooter .var.name6 .select { background-color: #3d9898; }
#shooter .var.name7 .select { background-color: #3d3d98; }


/* http://www.colourlovers.com/palette/34448/2_Kool_for_Skool */
#well .var.name0 .select { background-color: #020304; }
#well .var.name1 .select { background-color: #541f14; }
#well .var.name2 .select { background-color: #938172; }
#well .var.name3 .select { background-color: #cc9e61; }
#well .var.name4 .select { background-color: #626266; }
/* http://www.colourlovers.com/palette/86324/Clint */
#well .var.name5 .select { background-color: #ddd4bc; }
#well .var.name6 .select { background-color: #c4704b; }
#well .var.name7 .select { background-color: #702426; }
#well .var.name8 .select { background-color: #4c2923; }
#well .var.name9 .select { background-color: #bb9c88; }

#well .var.name10 .select { background-color: Aqua; }
#well .var.name11 .select { background-color: Aquamarine; }
#well .var.name12 .select { background-color: Azure; }
#well .var.name13 .select { background-color: Beige; }
#well .var.name14 .select { background-color: Bisque; }
#well .var.name15 .select { background-color: Black; }
#well .var.name16 .select { background-color: BlanchedAlmond; }
#well .var.name17 .select { background-color: Blue; }
#well .var.name18 .select { background-color: BlueViolet; }
#well .var.name19 .select { background-color: Brown; }
#well .var.name20 .select { background-color: BurlyWood; }
#well .var.name21 .select { background-color: CadetBlue; }
#well .var.name22 .select { background-color: Chartreuse; }
#well .var.name23 .select { background-color: Chocolate; }
#well .var.name24 .select { background-color: Coral; }
#well .var.name25 .select { background-color: CornflowerBlue; }
#well .var.name26 .select { background-color: Cornsilk; }
#well .var.name27 .select { background-color: Crimson; }
#well .var.name28 .select { background-color: Cyan; }
#well .var.name29 .select { background-color: DarkBlue; }


#achieved {
    position:absolute;
    left: 1em;
    top: 40%;
    font-size:800%;
    white-space:nowrap;
    z-index:2000;
    transition:all 1s ease-out .2s;
    opacity: 0;
}
#achieved.animated {
    top: 0;
    opacity:1.0;
}

.chatMsg {
    width: 96%;
    margin: 2%;
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    position:relative;
}

.chatMsg .close {
    position:absolute;
    top:0;
    right:0;
}

