/* *-*- css -*-* */
.bindingright>.txt { color:white; }
.varA { background: #9370db; }
.varB { background: #70db93; }
.varC { background: #f13e44; }
.varD { background: #cc4a14; }
.varE { background: #99583d; }
.varF { background: #3d983d; }
.varG { background: #3d9898; }
/*
.varA.bindingright { background: #7f00ff; }
.varB.bindingright { background: #426f42; }
.varC.bindingright { background: #7d0000; }
*/
.termbox {
    display:inline-block;
}
.termbox span, .termbox a {
    display:inline-block;
    vertical-align:top;
    padding:0px;
    margin:0px;
    overflow:visible;
}
.bindingleft>.hyprow>.bindingright,  .bindingleft>.bindingright, .bindingright>.hyprow>.bindingleft,  .bindingright>.bindingleft {
    /*-webkit-transform: matrix(0,-1,-1,0,0,0);*/
}
.operator>.txt {
/*    -webkit-transform: rotate(45deg);*/
    position:relative;
    padding:0 0;
	top: 50%;
	margin:0;
	margin-top:-.5em;
	height:1em;
	text-align:center;
}
.operator.arity2>.txt {
}
.operator.arity1 {
}
.operator.arity1>.txt {
}

.termbox, .termbox .variable, .termbox .operator, .termbox .term {
    position:relative;
	text-align:center;
}


.term a {
    border-left: 1px solid gray;
    border-bottom: 1px solid black;
}

.termbox .hyprow {
    position:relative;
}
.termbox span, .termbox a{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.input1of1 {float:right;}
.input2of2 {float:right;}
    /* TODO: gradients don't transition.  need to do some opacity trick that leaves
    the text visible but fades the background.
    background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#505050), to(#808080));
    */
/* TODO: do this with arithmetic or nested-opacity, not hardconding the depths*/

.operator.arity2 {
    background: -webkit-gradient(linear, 50% 50%, 100% 100%, from(#808080), to(#505050));
}
.operator.arity1 {
    background: -webkit-gradient(linear, 50% 50%, 100% 100%, from(#b0b0b0), to(#808080));
}


.termbox .variable .txt {
    opacity:0;
}

.termbox a {
    color: black;
}
body {
    margin:0px;
    width:100%;
}


@shooterHeight: 14em;
#rewind, #forward {
    font-size:200%;
}
#forward {
    /*visibility:hidden;*/
}
#well {
    margin-top: 4em;
}
body, html {
    height:100%;
}
#rightPane {
    box-sizing:border-box;
    width:100%;
    height:100%;
    padding-left:@shooterHeight;
    /*background: -webkit-gradient(linear, 50% 50%, 100% 100%, from(#404040), to(#202020)); */
    text-align:center;
    z-index: 1;
    overflow:scroll;
}
#shooterTabs {
    display:inline-block;
    background:white;
}
#shooter {
    width: @shooterHeight;
    margin:0px;
    height:100%;
    overflow-y:scroll;
    display:inline-block;
    position:absolute;
    z-index: 2;
}
.animClone {
    z-index: 3;
}
#shooterTape {
    text-align:center;
    background: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#70dbdb), to(#000000));
    height:width%;
    display:inline-block;
}
#shooter .termbox {
    background-color:white;
    margin:1em;
    padding:1.5em;
    border:2px solid black;
    border-radius:1em;
}

#shooterTabs .tab {
    width:3.5em;
    height:3.5em;
}

#shooterTabs .tab.groundable {
    background: rosybrown;
}

/*
.term {
    -webkit-transition: all 1s ease;
}
*/
.termbox .termbox {
    /* we stick one inside another for 1-hyp inferences, i.e. ax-gen*/
    position:absolute;
    left:0;
}

.freemap {
    border:1px solid black;
}
.freemap span {
    font-size:20%;
}
#toolbox {
    width:100%;
}
#login {
    float:right;
}
.selected {
    border: 5px solid black;
}

span.turnstile  {
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    width: 3em;
    height: 3em;
    background: rosybrown;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -1.5em;
    margin-left: -1.5em;
    display: none;
    cursor: pointer;
}
